nav {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    top:90;
    padding-bottom: 15px;
    background-color:skyblue;
  }
  @keyframes bg-color {
    0% { background-color: #9b59b6; }
    33% { background-color: #3498db; }
    66% { background-color: #9b59b6; }
    100% { background-color: #1abc9c; }
  }
  nav ul {
    display: flex;
  }
  nav li {
    list-style: none;
  }
  nav a {
    margin-top:5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 30px;
    outline: 1px solid;
    outline-color: white;
    outline-offset: 0px;
    display: inline-block;
    transition: .3s;
    margin-right: 10px;
    margin-left: 10px;
    background-color:gray;
  }

  nav a:hover{
    animation: light .8s infinite;
  }
  nav a:link{
    color:white;
  }

  .menu a{
    outline-width: 40px;
    outline-color: white;
    background-color: #fff;
    color: black;
    display: block;
  }

  @keyframes light {
    100% {
      outline-color: transparent;
      outline-offset: 12px;
    }
  }

  body {
  /*  animation: bg-color 30s infinite;*/
    background-image:url("background.jpg");
    background-size: cover;
    height: 100px;
    vertical-align: middle;
    word-break: break-word;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  .menu{
    margin-right: 30px;
  }
  .box{
    display:inline-block;
  }
  
  .container  {
    margin : 30px ;
    padding : 20px ;
    border : 5px solid white ;
    display:flex;
    justify-content: space-around;
  }
  .block1 {
    text-align:left;
    margin-left:5%;
    margin-right:5%;
    word-break: break-word;
    width:50%;
    
  }
  .block1 h1{
    border-bottom: 2px solid white;
  }
  .block2 h1{
    border : 3px solid white;
    background-color:grey;
  }

  .block2 {
    text-align:center;
    height: auto;
    color:white;
    width: 50%;
    
  }
  .block2 h3{
    text-align:left;
    margin-left:10%;
    margin-right:10%;
    border-bottom: 2px solid white;
  }
  .block2 ul{
    margin-left:5%;
    margin-right:10%;
    text-align:left;
  }
  .block2-1 {
    border : 3px solid white;
    word-break:break-word;
    background-color:grey;
    margin-right:30px;
    margin-left:30px;
  }
  
  html {
    color:black
  }

  .current{
    background-color: white;
    color:black;
  }
  .current:link{
      color:black
  }

  header{
    font-family: "Comic Sans MS","Yu Gothic";
    border-bottom:2px solid white;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    font-size: 55px;
    color: rgba(255,255,255,1);
    font-weight:bold;
    -webkit-text-stroke: 3px black;
    background-size:cover;
  }

  .center{
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .blog{
    width: 800px;
    display: flex;
    align-items: center;
  }

  .number{
    font-size: 200px;
  }

/*メニューボタン*/
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: skyblue;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

/*メニューボタンここまで*/
/*メニュー中身*/
.contents {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: skyblue;
}
.contents ul {
    padding: 70px 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
}
.contents ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.contents ul li a {
    display: block;
    width: 100%;
    font-size: 5vmin;
    -webkit-text-stroke: 2px rgb(160,160,160);
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
/*.contents ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
*/
.contents {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: skyblue;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .contents {
    left: 50%;/*メニューを画面内へ*/
}

/*トップページのスライドショー*/
.slide-show{
  height: 400px;
  width: 100%;
  position: relative;
  left:0;
}

.image {
  background-size: cover;
  background-position: center center;
  
  animation: image-switch-animation 13s infinite;
}

.src1 {
  background-image: url("home_photo1.jpg");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50;
  right: 60%;
  opacity: 0;
}
.src2 {
  position: absolute;
  top: 50;
  left: 20%;
  bottom: 0;
  right: 40%;
  opacity: 0;
  background-image: url("home_photo2.jpg");
}
.src3 {
  position: absolute;
  top: 0;
  left: 40%;
  bottom: 50;
  right: 20%;
  opacity: 0;
  background-image: url("home_photo3.jpg");
}
.src4 {
  position: absolute;
  top: 50;
  left: 60%;
  bottom: 0;
  right: 0%;
  opacity: 0;
  background-image: url("home_photo4.jpg");
}

.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 3s;
}
.image:nth-of-type(3) {
  animation-delay: 6s;
}
.image:nth-of-type(4) {
  animation-delay: 9s;
}

@keyframes image-switch-animation {
  0%{ opacity: 0;}
  5%{ opacity: 1;}
  25%{ opacity: 1;}
  40%{ opacity: 0;}
  100%{ opacity: 0;}
}
